/* -------------------- */
/* Custom Properties    */
/* -------------------- */

:root {

    /* colors */
    --clr-purple: 272 73% 58%;
    --clr-white: 0 0% 100%;
    --clr-light-blue: 201 86% 75%;
    --clr-dark: 316 100% 2%;
    --clr-grey: 315 5% 35%;

    /* font-size */
    --fs-900: clamp(4rem, 8vw + 1rem ,12.5rem);
    --fs-800: 3.125rem;
    --fs-700: clamp(0.75rem, 2vw + 0.25rem, 1.875rem);
    --fs-600: clamp(0.875rem, 2vw + 0.25rem, 1rem);
    --fs-500: 0.875rem;

    /* font-families */
    --ff-bebas: "BebasKai";
    --ff-poppins : "Poppins";
}

/* -------------------- */
/* Font Faces           */
/* -------------------- */

/* Poppins */
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-Bold.woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("./assets/fonts/Poppins/Poppins-SemiBold.woff2");
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("./assets/fonts/Poppins/Poppins-Regular.woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("./assets/fonts/Poppins/Poppins-Light.woff2");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}
  
/* Bebas Kai */
@font-face {
    font-family: "BebasKai";
    src: url("./assets/fonts/BebasKai/BebasKai.woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
  

/* -------------------- */
/* Reset                */
/* -------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

h1 {
    text-align: center;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

section {
    position: relative;
}

/* Set core body defaults */
body {
    font-family: var(--ff-poppins);
    font-size: var(--fs-700);
    font-weight: 400;
    background-color:  black;
    color: hsl(var(--clr-white));
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* -------------------- */
/* Utilities class      */
/* -------------------- */

/* general */
.flex { 
    display: flex; 
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 71.438rem;
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

/* colors */
.text-purle { color : hsl(var(--clr-purple)); }
.text-white { color : hsl(var(--clr-white)); }
.text-light-blue { color : hsl(var(--clr-light-blue)); }

/* typography */
.ff-bebas { font-family: var(--ff-bebas); }
.ff-poppins { font-family: var(--ff-poppins); }

.letter-spacing-1 { letter-spacing: 5.84px; }
.letter-spacing-2 { letter-spacing: 2.88px; }
.letter-spacing-3 { letter-spacing: 1.6px; }

.uppercase { text-transform: uppercase; }
.underline { text-decoration: underline; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }

.fs-900,
.fs-800 {
    line-height: 1.1;
}

.fw-700 { font-weight: 700; }
.fw-400 { font-weight: 400; }
.fw-300 { font-weight: 300; }

/* -------------------- */
/* Components           */
/* -------------------- */
.primary-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    height: 55px;
    padding-left: clamp(30px, 4vw + 5px, 70px);
    padding-right: clamp(27px, 4vw + 5px, 57px);
}

.primary-navigation a:hover,
.primary-navigation span:hover,
.primary-navigation span.active
{
    cursor: pointer;
    color: hsl(var(--clr-purple));
    font-weight: 600;
}

.primary-navigation > ul {
    --gap: 3.125rem;
    padding: 0;
}

.background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
        
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 720px;
    background: linear-gradient(to top, hsl(var(--clr-dark)), hsl(var(--clr-grey) / 0));
    z-index: 1;
}

.banner {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.banner > .scroll {
    display: inline-flex;
    animation: text-scrolling 150s linear infinite;
}

.background {

    position: absolute;
    margin-top: 100vh;

    width: 100%;
    height: 4629px;

    background-image: url('./assets/images/background.jpg');
    background-size: cover;
    z-index: 1;
    
}

.tab-list {
    --gap: 3.25rem;

    list-style: none;
}

.tab-list > * {
    display: flex;
    align-items: center;
}

.tab-list > * > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.tab-list > * > a {
    cursor: pointer;
}

.tab-list .dot::before {
    content: "•";
    font-size: 3rem;
}


.hover-crossed > * > *:not(.dot) {
    position: relative;
    overflow: hidden;

    transition: all 0.4s 0.4s;
}

.hover-crossed > * > *:not(.dot)::after {
    content: '';

    position: absolute;
    right: 0;
    top: 50%;

    height: 2px;
    width: 100%;

    background-color: hsl(var(--clr-white));

    transform: translate3d(-100%, 0, 0);
    transition: all 0.4s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.hover-crossed > * > *:not(.dot):hover::after {
    transform: translate3d(100%, 0, 0);
}

.color-indicators [aria-selected="true"],
.color-indicators > * > *:not(.dot):hover {
    cursor: pointer;
    color: hsl(var(--clr-purple));
    font-weight: 600;
}

.shadow-indicators > * > *:hover{
    text-shadow: 0px 1px 2px hsl(var(--clr-purple) / 0.9);
}

.hamburger {
    display: inline-block;
    
    margin: 0;
    padding: 15px;

    cursor: pointer;
    overflow: visible;

    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
}

.hamburger-box {
    display: inline-block;

    position: relative;

    width: 40px;
    height: 24px;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 20px;
    background-color: hsl(var(--clr-white));
    transition-timing-function: ease;
    transition-duration: .15s;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--vortex .hamburger-inner {
    transition-duration: .2s;
}

.hamburger--vortex.active .hamburger-inner {
    transition-timing-function: cubic-bezier(.19,1,.22,1);
    transform: rotate(765deg);
}

.hamburger--vortex .hamburger-inner::after, 
.hamburger--vortex .hamburger-inner::before {
    transition-delay: .1s;
    transition-timing-function: linear;
    transition-duration: 0s;
}

.hamburger--vortex.active .hamburger-inner::after, 
.hamburger--vortex.active .hamburger-inner::before {
    transition-delay: 0s;
  }

.hamburger--vortex .hamburger-inner:after {
    transition-property: bottom, transform;
}

.hamburger--vortex .hamburger-inner::before {
    transition-property: top, opacity;
}

.hamburger--vortex.active .hamburger-inner:after {
    bottom: 0;
    transform: rotate(90deg);
}

.hamburger--vortex.active .hamburger-inner::before {
    top: 0;
    opacity: 0;
}

/* -------------------- */
/* Intro Section Layout */
/* -------------------- */

.intro {
    padding-top: clamp(35px, 8vw + 5px, 75px);
    height: 100vh;
}

.container--intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;

    text-align: center;

    z-index: 10;
    transform: translateX(-50%) translateY(-50%);
}

.flex--scroll {
    justify-content: center;

    position: absolute;
    bottom: 40px;

    width: 100%;
    z-index: 10;
}

.scroll-indicator {
    position: relative;
    width: 123px;
    height: 123px;
}

.scroll-indicator > img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: turn 20s 0s linear infinite forwards;
}

.scroll-indicator > img:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.logo {
    max-width: clamp(40%, 8vw, 100%);
    min-width: 121px;
}

/* -------------------- */
/* About me Layout      */
/* -------------------- */

.about-me {
    padding-top: 109px;
    z-index: 1;
}

.container--profil {
    column-gap : 17.313rem;
    row-gap: 9rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    position: relative;

    max-width: 98rem;
    margin-top: clamp(-204px, -4vw - 10px, -36px);
    z-index: 2;

}

.container--profil > img {
    max-width: 624px;
    width: 100%;
}

.profil-text {
    position: relative;
    max-width: 467px;
}

.profil-text > p::before {
    display: block;
    content: '"';
   
    position: absolute;
    left: -50px;
    top: -85px;

    font-size: 10em;
}

.profil-text > p::after {
    display: block;
    content: '"';

    position: absolute;
    right: -27px;
    bottom: -108px;

    font-size: 7em;
}

/* -------------------- */
/* Skill Layout         */
/* -------------------- */
.skills {
    position: relative;
    padding-top: 215px;
    z-index: 2;
}

.container--skills {
    max-width: 85rem;
}

.container--skills > h1,
.container--skills > p {
    text-align: center;
}

.container--skills > p {
    line-height: 1.7;
}

.particles {
    width: 100%;
    max-width: 1262px;
    height: 829px;
}


/* -------------------- */
/* Project Layout       */
/* -------------------- */
.projects {
    position: relative;
    padding-top: 50px;
    z-index: 2;
}

.container--projects {
    max-width: 108.438rem;
}

.container--projects > .tab-list {
    justify-content: center;
}

.grid--projects {
    --gap: 0.625rem;
    grid-template-columns: repeat(auto-fill, minmax(0, min(100%/1, max(312px, 100%/4))));
    justify-content: center;
}

.project-item {
    position: relative;
}

.project-item > .project-item-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 1em;

    background-color: hsl(var(--clr-purple) / 0.5);
    color: hsl(var(--clr-white));
    cursor: pointer;

    opacity: 0;
    transition: all 0.3s linear;
}

.project-item > .project-item-overlay > h2 {
    text-align: center;
}

.project-item:hover > .project-item-overlay {
    opacity: 1;
    box-shadow: 0 3px 4px hsl(var(--clr-purple) / 0.4);
}

/* -------------------- */
/* Contact Layout       */
/* -------------------- */
.contact {
    position: relative;
    padding-top: 131px;
    z-index: 2;
}

.container--contact > h1 {
    color: hsl(var(--clr-white) / 0.24);
}

.contact-list {
    position: absolute;
    top: 164px;
    left: 50%;
    transform: translateX(-50%);
}

.contact-list > p {
    margin-top: 70px;
    text-align: center;
}

.tab-list--mobile-social {
    display: none;
}

/* -------------------- */
/* Medias queries       */
/* -------------------- */
@media screen and (max-width: 1112px)  {
    .hidden-mobile {
        display: none;
    }
}

@media screen and (max-width: 895px)  {
    .projects-menu {
        flex-direction: column;
        align-items: center;
        --gap: 0rem;
    }

    .projects-menu > .dots-container {
        height: 40px;
    }
}

@media screen and (max-width: 624px)  {
    .letter-spacing-2 {
        letter-spacing: 0.05rem;
    }

    .tab-list--social {
        display: none;
    }

    .tab-list--mobile-social {
        display: flex;
    }

    .tab-list--mobile-social a {
        width: 32px;
    }

    .profil-text > p::before {
        display: block;
        content: '"';
       
        position: absolute;
        left: -25px;
        top: -78px;
    
        font-size: 13em;
        opacity: 0.5;
    }
    
    .profil-text > p::after {
        display: block;
        content: '"';
    
        position: absolute;
        right: -9px;
        bottom: -137px;
    
        font-size: 10em;
        opacity: 0.5;
    }
}
/* -------------------- */
/* Animations           */
/* -------------------- */

@keyframes turn {
	from {
	    transform: rotateZ(0deg);
	}

	to {
	    transform: rotateZ(360deg);
	}
}

@keyframes turn-reverse {
	from {
	transform: rotateZ(0deg);
	}

	to {
	transform: rotateZ(-360deg);
	}
}

@keyframes text-scrolling {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0 ,0);
    }
} 